*.vs/
*.bsc
*.elf
*.exe
*.gnf
*.gp4p.backup
*.gxt
*.idb
*.ilk
*.mak
*.map
*.ncb
*.opensdf
*.orig
*.pdb
*.sdf
*.self
*.sln
*.sln.cache
*.suo
*.VC.db
*.VC.VC.opendb
*.vcxproj*
local.properties
*.iml
*.gradle*
*.idea*
*.externalNativeBuild*
*.hlslo
*.esslp
*.vsh
*.psh
*.sb
*.gxp
*.iobj
*.ipdb
*.obj
*.tlog
*.log